@model SD_Fuar.Models.Fuar

@{
    ViewData["Title"] = "Fuar Sil";
}

<h1>Fuar Sil</h1>

<div class="alert alert-danger">
    <h3>Bu fuarı silmek istediğinizden emin misiniz?</h3>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Ad)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Ad)</dd>
        
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Ulke)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Ulke)</dd>
        
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Sehir)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Sehir)</dd>
        
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.BaslangicTarihi)</dt>
        <dd class="col-sm-9">@Model.BaslangicTarihi.ToString("dd.MM.yyyy")</dd>
        
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.BitisTarihi)</dt>
        <dd class="col-sm-9">@Model.BitisTarihi.ToString("dd.MM.yyyy")</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
    </form>
</div> 