@model IEnumerable<SD_Fuar.Models.Ziyaretci>

@{
    ViewData["Title"] = "Ziyaretçiler";
}

<h1>Ziyaretçiler</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Ziyaretçi Ekle</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Ad)</th>
            <th>@Html.DisplayNameFor(model => model.Soyad)</th>
            <th>@Html.DisplayNameFor(model => model.FirmaAdi)</th>
            <th>@Html.DisplayNameFor(model => model.Tel)</th>
            <th>@Html.DisplayNameFor(model => model.Eposta)</th>
            <th>@Html.DisplayNameFor(model => model.Meslek)</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Ad)</td>
            <td>@Html.DisplayFor(modelItem => item.Soyad)</td>
            <td>@Html.DisplayFor(modelItem => item.FirmaAdi)</td>
            <td>@Html.DisplayFor(modelItem => item.Tel)</td>
            <td>@Html.DisplayFor(modelItem => item.Eposta)</td>
            <td>@Html.DisplayFor(modelItem => item.Meslek)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table> 